body
{
    background-color: rgb(71, 71, 71);
}
h1
{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}
h2
{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: white;
    size: 30px;
}
#img1
{
margin-left: 830px;
margin-right: 770px;
border-radius: 15px;
}
#button
{
    margin-left: 900px;
    margin-right: 900px;
    margin-top: 90px;
    border-radius: 15px;
    font-size: 15px;
}
#result
{
    color: white;
    text-align: center;
    
}

