body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    background-image:
        linear-gradient(#aa6e6e 1px, transparent 1px),
        linear-gradient(90deg, #7b3e0f 1px, transparent 1px);
    background-size: 25% 55%;
    padding: 20px;
}

.container {
    background-color: rgb(61, 61, 61);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4263eb;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2f49b8;
}

.warning {
    color: red;
    font-size: 14px;
    text-align: center;
}

#secretMessage {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}